$textColor: #1d1d1f;
$mainColor: #5f43b2;
$secondColor: #be6ffb;
$htmlColor: #e8765a;
$cssColor: #7089e8;
$jsColor: #e9d555;



.mainFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  padding-bottom: 0;
  margin-top: 12rem;
  background-color: $mainColor;
  border-radius: 12px;
  gap: 3rem;
}

.desktop {
  width: 10rem;
  transition: transform 0.5s ease;
}
.desktop:hover {
  transform: scale(1.1);
}
.socialMedia {
  display: flex;
  flex-direction: column  ;
  align-items: center;
  color: white;

  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  i {
    font-size: 3rem;
    margin: 1rem;
    opacity: 0.75; 
    cursor: pointer;
    transition: color 0.5s ease, transform 0.5s ease; 
  }

  i:hover {
    color: $secondColor;
    transform: scale(1.1); 
  }
}


.mobile {
  display: none;
  width: 12rem;
  margin-left: -20%;
}

@media (max-width: 1000px) {
  .mobile {
    display: inline-block;
  }

  .desktop {
    display: none;
    width: 10em;
    transition: transform 0.5s ease; 
  }

  
  .socialMedia {
    flex-direction: column;
  }
 
  .mainFooter {
    flex-direction: column;
    justify-content: space-around;
  }
}
