$textColor: #1D1D1F;
$mainColor: #1D1D1F;
$secondColor: #354F52;

@tailwind base;
@tailwind components;
@tailwind utilities;
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
body {
  height: 100dvh;
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding: 2.5rem 1rem 0rem 1rem;
  color: $textColor;
}
