// Zmienne kolorów
$textColor: #1D1D1F;
$mainColor: #5F43B2;
$secondColor: #BE6FFB;
$htmlColor: #E8765A;
$cssColor: #7089E8;
$jsColor: #E9D555;

.heroSection {
    margin-top: 4.5rem;

    .human {
        display: none;
    }
}

.heroText {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        letter-spacing: 3%;
        font-weight: 500;
    }

    p {
        font-size: 1rem;
        opacity: 0.75; 
        letter-spacing: 3%;
        line-height: 1.875rem; 
    }

    button {
        margin-top: 3rem;
        width: 16rem;
        height: 4.5rem;
        border-radius: 12px;
        background-color: $mainColor;
        color: white;
        transition: background-color 0.5s ease; 

        &:hover {
            background-color: $secondColor;
        }
    }
}


h1 {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    border-right: 0.15em solid $mainColor;
    letter-spacing: 3%;
    white-space: nowrap;
    overflow: hidden;

    animation: 
        typing 3s steps(30, end) forwards,
        blink-caret 0.75s step-end infinite;
}


@keyframes typing {
    from { width: 0 }
    to { width: 65%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-right: 3px solid $mainColor; }
}


@media (min-width: 1000px) {
    .heroSection {
        display: flex;
    }

    .heroText {
        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1.2rem;
            line-height: 2.1875rem;
        }

        button {
            width: 18rem;
            height: 5rem;
            font-size: 1.2rem;
        }
    }

    .human {
        display: block !important;
        height: 20rem;
    }
}
