$textColor: #1D1D1F;
$mainColor: #5F43B2;
$secondColor: #BE6FFB;
$htmlColor: #E8765A;
$cssColor: #7089E8;
$jsColor: #E9D555;

@tailwind base;
@tailwind components;
@tailwind utilities;
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
body {
  height: 100dvh;
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding: 2.5rem 1rem 0rem 1rem;
  color: $textColor;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  i {
    color: $secondColor;
    font-size: 2.3rem;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  i:hover {
    color: $mainColor;
  }
}

.companyLogo {
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
  background-color: white;
}


