$textColor: #1D1D1F;
$mainColor: #5F43B2;
$secondColor: #BE6FFB;
$htmlColor: #E8765A;
$cssColor: #7089E8;
$jsColor: #E9D555;

.body, .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body {
    margin-top: 7rem;
    h3 {
        opacity: 50%;
        margin-bottom: 7rem;
    }
    .container {
        gap: 4rem;
    }
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 12px;
        height: 20rem;
        cursor: pointer;
        transition: all 0.75s ease;
    }
    .box:hover {
        scale: 1.05;
    }
    img {
        width: 7rem;
    }
    .HTML{
        background-color: $htmlColor;
    }
    .CSS {
        background-color: $cssColor;
    }
    .JS {
        background-color: $jsColor;
    }
}

@media (min-width:1000px ) {
    .container {
        flex-direction: row;
    }
}