$textColor: #1D1D1F;
$mainColor: #5F43B2;
$secondColor: #BE6FFB;
$htmlColor: #E8765A;
$cssColor: #7089E8;
$jsColor: #E9D555;


.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    h3{
        opacity: 50%;
    }
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        margin-top: 4rem;
        width: 100%;
        height: 25rem;
    }
    .HTML {
        background-color: $htmlColor;
    }
    .CSS {
        background-color: $cssColor;
    }
    .JS {
        background-color: $jsColor;
    }
}