.wrapper {
    position: relative;
    padding: 3.125rem 6.25rem;
    height: 100svh;
    background-image: url('../../resources/Backgrounds/heroBgc.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}