$textColor: #1D1D1F;
$mainColor: #5F43B2;
$secondColor: #BE6FFB;
$htmlColor: #E8765A;
$cssColor: #7089E8;
$jsColor: #E9D555;


.lesson {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
    height: 4rem;
    width: 100%;
    border-radius: 12px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
    background-color: $htmlColor;

    .desc {
        opacity: 75%;
    }
}


.paginationBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.paginationBtn a {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid $textColor;
}

.disabledBtn a{
    opacity: 0.50;
    cursor: not-allowed;
}

.activeBtn a {
    color: white;
    border: none;
    background-color: $mainColor;
}

@media (max-width: 650px) {
  .paginationWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lesson {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 100%;
    height: 7rem;
  }
  .title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  
}

