$textColor: #1D1D1F;
$mainColor: #1D1D1F;
$secColor: #191c1a;
$secondColor: #354F52;
$secondColor: #2d4345;
$font: "Bayon", sans-serif;

.heroBodyHTML {
  background-image: url('../../../resources/Backgrounds/mobileBgc.png');

  h2 {
    font-size: 4rem;
    font-family: "Roboto Serif", serif;
  }
}