$textColor: #1D1D1F;
$mainColor: #1D1D1F;
$secondColor: #354F52;
$secondColorH: #74797a;
$secondBgcColor: #21272D;
$boxColor: #2A323B;
$contrastColor: #FFBD6C;

.blockBody {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 30rem;

    h3, p {
        color: $mainColor;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.75rem;
    }
    p {
        font-size: 1.25rem;
    }
}
