$textColor: #1D1D1F;
$mainColor: #1D1D1F;
$secondColor: #354F52;
$secondColorH: #74797a;
$secondBgcColor: #21272D;
$boxColor: #2A323B;
$contrastColor: #FFBD6C;

.aboutUsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    height: 100svh;
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.aboutTextWrapper {
    width: 50%;
    h2 {
        font-size: 3rem;
        font-weight: bold;
        color: $contrastColor;
        margin-bottom: 0.5rem;
    }
    .line {
        background-color: white;
        height: 3px;
        width: 100%;
        margin-bottom: 2rem;
    }
    p {
        font-size: 1.50rem;
    }
}
.aboutUsImg {
    width: 40%;
    border-radius: 0.5rem;
}

.arrowAbout {
    border-radius: 50%;
    padding: 1rem;
    border: 3px solid $secondColor;
    height: 5rem;
    width: 5rem;
    animation: arrowMove 3s normal infinite;
}

@keyframes arrowMove {
    0% {
        transform: translateY(-8%);
    }
    50% {
        transform: translateY(8%);
    }
    100% {
        transform: translateY(-8%);
    }
}