$textColor: #1D1D1F;
$mainColor: #1D1D1F;
$secondColor: #354F52;
$secondColorH: #74797a;
$secondBgcColor: #21272D;
$boxColor: #2A323B;
$contrastColor: #FFBD6C;

.aboutUsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    height: 100svh;
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.aboutTextWrapper {
    width: 50%;
    h2 {
        font-size: 3rem;
        color: $contrastColor;
        margin-bottom: 0.5rem;
    }
    .line {
        background-color: white;
        height: 3px;
        width: 100%;
        margin-bottom: 2rem;
    }
    p {
        line-height: 2.4rem;
        font-size: 1.50rem;
    }
}
.aboutUsImg {
    width: 35%;
    border-radius: 0.5rem;
}

.arrowAbout {
    border-radius: 50%;
    padding: 1rem;
    border: 3px solid $secondColor;
    height: 4rem;
    width: 4rem;
    animation: arrowMove 3s normal infinite;
}

@keyframes arrowMove {
    0% {
        transform: translateY(-8%);
    }
    50% {
        transform: translateY(8%);
    }
    100% {
        transform: translateY(-8%);
    }
}

@media (max-width:1350px) {
    .aboutUsImg {
        display: none;
    }
    .aboutTextWrapper{
        width: 100%;
    }
    .arrowAbout {
        margin-top: 5rem;
    }
}

@media (max-width:600px) {
    .aboutUsWrapper {
        gap: 0rem;
    }
    .aboutTextWrapper{
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.25rem;
            line-height: 2rem;
        }
    }
}