$textColor: #1D1D1F;
$mainColor: #1D1D1F;
$secondColor: #354F52;
$secondColorH: #74797a;
$secondBgcColor: #21272D;
$boxColor: #2A323B;
$contrastColor: #FFBD6C;

.whyBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content ;
    background-color: white;
    gap: 4rem;
    padding: 7.5rem 0rem;
}

.firstRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.secondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.slogan {
    font-size: 2.5rem;
    color: $secondColor;
    opacity: 75%;
    margin-bottom: 2rem;
}

@media (min-width: 100px) {
    .whyBody {
        gap: 3rem;
    }
    .slogan {
        margin-top: 2rem;
        font-size: 1.25rem;
    }
    .firstRow, .secondRow {
        flex-direction: column;
        gap: 3rem;
    }
}

@media (min-width: 1400px) {
    .slogan {
        font-size: 1.5rem;
    }
    .firstRow, .secondRow {
        flex-direction: row;
        gap: 5rem;
    }
    .firstRow {
        margin-bottom: 2rem;
    }
}